<h1>注文情報入力</h1>

<div>支払方法</div>
	<p>
		<%= f.radio_button :payment_method, :true %>
		<%= f.label :payment_method, "クレジットカード", {value: :true, style: "display: inline-block;"} %>
		<%= f.radio_button :payment_method, :false %>
		<%= f.label :payment_method, "銀行振込", {value: :false, style: "display: inline-block;"} %>
	</p>

<div>お届け先</div>
	<p></p>

