<h1>ジャンル編集</h1>
<table>
	<thead>
		<tr>
			<th>ジャンル名</th>
			<%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
				<div class="action row">
					<%= f.text_field :name %>
        			<%= f.submit '変更を保存' %>
    			</div>
    		<% end %>
    	</tr>
	</thead>
</table>