
<h1>ジャンル検索</h1>
	<div>
		<% @genres.each do |genre| %>
		    <div><%= link_to genre.name, search_search_path('search[value]': genre.id, 'search[how]': "match") %></div>
		<% end %>
	</div>


<h1>商品一覧（全x件）</h1>
	<div>
		<% @items.each do |item| %>
			<td><span>
				<%= attachment_image_tag item, :image, :fill, 60, 60 %>
			</span></td>
			<td><span><%= item.name %></span></td>
			<td><span><%= item.price %></span></td>
		<% end %>
	</div>

